:root{
    --branco: #FFF;
    --escuro: #333;
    --azul1: #040433;
    --azul2: #041236;
    --verde1: #04121E;
    --verde2: #042C36;
    --verde3: #043330;
}

@font-face {
    font-family: 'coolvetica';
    src: url('./font/coolvetica/coolvetica\ rg.otf');
}

@font-face {
    font-family: 'valorant';
    src: url('./font/valorant/Valorant\ Font.ttf');
}

*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 300px;
    display: block;
    float: left;
    background-color: var(--verde3);
    background-image: url(https://i.pinimg.com/originals/b3/e2/b9/b3e2b982cbc35d388895574b1304e9ff.jpg);
    opacity: 80%;
}

header h1{
    font-family: 'coolvetica';
    font-size: 120px;
    text-align: center;
    padding-top: 70px;
    color: black;
}

header a{

 


}







}





article{
    width: 70%;
    height: 800px;
    display: block;
    float: left;
    background-color: var(--verde1);
}

aside{
    width: 30%;
    height: 800px;
    display: block;
    float: left;
    background-color: var(--verde2);
}

footer{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: var(--azul2);
}