:root{
    --branco: #FFF;
    --escuro: #333;
    --azul1: #040433;
    --azul2: #041236;
    --verde1: #04121E;
    --verde2: #042C36;
    --verde3: #043330;
}

@font-face {
    font-family: 'coolvetica';
    src: url('./font/coolvetica/coolvetica\ rg.otf');
}

@font-face {
    font-family: 'valorant';
    src: url('./font/valorant/Valorant\ Font.ttf');
}

*{
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    height: 300px;
    display: block;
    float: left;
    background-color: var(--verde3);
    background-image: url(https://i.pinimg.com/originals/b3/e2/b9/b3e2b982cbc35d388895574b1304e9ff.jpg);
    opacity: 80%;
}

header h1{
    font-family: 'coolvetica';
    font-size: 120px;
    text-align: center;
    padding-top: 70px;
    color: black;
}

header li{
    text-align: center;
    list-style: none;
    font-size: 18px;
}

header a{
    color: white;
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

.divarticle{
    width: 27%;
    height: auto;
    display: block;
    float: left;
    background-color: black;
    text-align: center;
    font-family: 'coolvetica';
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 35px;
    color: white;
}

.divarticle:hover{
    transform: scale(1.1);
    border: solid 10px var(--verde2);
    margin-bottom: 15px;
}

article{
    width: 70%;
    height: 800px;
    display: block;
    float: left;
    background-color: var(--verde1);
}

aside{
    width: 30%;
    height: 800px;
    display: block;
    float: left;
    background-color: var(--verde2);
}

aside form{
    margin-top: 20px;
    margin-left: 30px;
}

aside h4{
    margin-top: 35px;
    margin-left: 30px;;
    font-family: 'coolvetica';
}

aside ol{
    margin-top: 20px;
    margin-left: 45px;
    font-family: 'coolvetica';
}

aside img{
    height: 50px;
    width: 50px;
    margin-top: 65px;
    margin-left: 30px;
}

aside p{
    font-family: 'coolvetica';
    margin-left: 63px;
}

footer{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: var(--azul2);
}

.pfooter{
    text-align:justify;
    color: white;
    font-family: 'valorant';
    font-size: 13px;
}    

.lifooter{
    text-align: center;
    font-family: 'coolvetica'
}
    
a{
    color: rgb(255, 0, 0);
}
    
#N{
    text-align: center;
    color: white;
    margin-top: 30px;
}
    
#E{
    text-align: center; 
    color: white;
}

#divfooter{
    margin-left: 540px;
}